*, *::after, *::before {
	margin:0;
	padding:0;
}
.page-wrap {
	padding: 0% 4%;margin: 3% 0% 0%;
}
.catalog-heading {

}
#catalog {
}
.course-div {

}
.course-name {

}
.course-description {

}
.course-units {
	
}